<div class="col-md-6 col-md-offset-3">

  <div class="edit-attraction-form">

    <h1>Edit Item</h1>
    <%= simple_form_for @attraction, :html => { :multipart => true} do |f| %>
        <%= f.select :category_id, @categories %>
        <%= f.file_field :item_img %>
        <%= f.input :name, label: "Name" %>
        <%= f.input :description %>
        <%= f.button :submit, :class => "btn-custom2" %>
    <% end %>

  </div>
</div>